body{
    
    font-family: sans-serif;
    margin: 0 50px;
    color: white;
}
.container{
  
    display: flex;
    gap: 10rem;
    background:linear-gradient(145deg,rgba(17, 35, 58, 0.808),rgba(5, 13, 22, 0.897));
    max-width: fit-content;
    border: 3px solid rgba(8, 16, 22, 0.774) ;
    border-radius: 20px;
    padding-right: 10px;
    box-shadow: 3px 2px 6px 2px rgba(37, 37, 37, 0.719);
justify-content: center;
}

textarea,h1,h2,h3,#labling{

  margin-left: 20px  ;
    font-size: 20px;
}
h1{  
    margin-left: 300px;
    color: blue;
    font-size: 27px;
    text-decoration: blue;

}
#posts{
    width: 400px;
}
#posts div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.icons{
    display: flex;
    gap: 24px;
    margin-left: 16px;
}
button{
background-color: green;
border: 1px solid green;
padding: 6px;
font-size: 16px;
color: white;
margin-left: 20px;
margin-bottom: 20px;

box-shadow: 0 0 4px 2px rgb(24, 29, 20);
cursor: pointer;

}
button:hover{
    background-color:rgb(49, 231, 49) ;
}
#edit{
    background-color: green;
    border: 1px solid green;
    padding: 5px;
    font-size: 13px;
    color: white;
    box-shadow: 0 0 4px  rgb(24, 29, 20);
    cursor: pointer;
    }
    #edit:hover{
        background-color: rgba(19, 182, 68, 0.315);
    }
#delete{
    background-color: red;
    border: 1px solid red;
    padding: 5px;
    font-size: 13px;
    color: white;
    box-shadow: 0 0 4px  rgb(24, 29, 20); 
    cursor: pointer;

}
#delete:hover{
    background-color: rgba(223, 7, 7, 0.418);
}
#msg{
    color: red;
    padding: 3px;
    margin-left: 20px;

}

@media screen and (max-width: 540px) {
    .container {
      flex-direction: column;
      gap: 2rem;
      margin: 0 20px;
      padding-right: 0;
    }
  textarea{
    columns: 10;
   
  }
    h1 {
      margin-left: 20px;
      font-size: 24px;
    }
  
    #posts {
      width: 100%;
    }
  
    .icons {
      margin-left: 0;
    }
  
    button {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }

